<body >
    <div class="container">
        <h1>ShopY</h1>
        <div class="button-container">
            <a routerLink="/home">
                <button class="gel-button cyan">
                    Product <div class="icon">📦</div>
                </button>
            </a>
            <a routerLink="/bazaar">
                <button class="gel-button cyan">
                    Bazaar <div class="icon">🛍️</div>
                </button>
            </a>
            <button class="gel-button blue">
                outlet<div class="icon"></div>
            </button>
        </div>
    </div>
</body>

