<app-nav></app-nav>
<div class="bg-[#F0F0F0]">
    <div class="max-w-7xl mx-auto flex items-center space-x-2 text-gray-600">
        <i data-lucide="home" class="w-5 h-5"></i>
        <span class="text-sm pt-5"><a href="Acc.html">Sell</a> > </span>
        <span class="text-sm pt-5">Add Product > </span> 
        <span class="text-sm pt-5 font-bold">Products</span>
      </div>
<div class="container">
    <div class="flex justify-center mb-8">
        <div class="flex items-center space-x-4">
          <div class="flex items-center">
            <div class="bg-green-600 rounded-full p-4 flex items-center justify-center">
              <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
            </div>
            <span class="ml-2 text-green-600 font-medium">Description</span>
          </div>
          <div class="border-t-2 border-gray-300 flex-grow my-auto"></div>
          <div class="flex items-center">
            <div class="bg-green-600 rounded-full p-4 flex items-center justify-center">
              <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
            </div>
            <span class="ml-2 text-green-600 font-medium">Categories</span>
          </div>
          <div class="border-t-2 border-gray-300 flex-grow my-auto"></div>
          <div class="flex items-center">
            <div class="bg-green-600 rounded-full p-4 flex items-center justify-center">
              <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
            </div>
            <span class="ml-2 text-green-600 font-medium">Photos</span>
          </div>
          <div class="border-t-2 border-gray-300 flex-grow my-auto"></div>
          <div class="flex items-center">
            <div class="bg-green-600 rounded-full p-4 flex items-center justify-center">
              <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
            </div>
            <span class="ml-2 text-green-600 font-medium">Delivery</span>
          </div>
        </div>
      </div>
    <h2 class="title">Your Products</h2>
  
    <div class="products-grid">
      <div class="add-button">
        <button (click)="addProduct()">+</button>
      </div>
    </div>
</div>
</div>
<app-footer></app-footer>
  